html * {
    /* font-size: 16px; */
    line-height: 1.625em;
    font-family: Nunito, sans-serif;
}
html header{
    background-color: rgba(13, 7, 173, 0.581);
    margin: 0;
}
textarea {
    width: 100%;
    display: block;
}
body{
    margin:0;
    min-width: 360px;
}

img[src="./img/ArmRepairLogo.png"]{
    margin-left: .7em;
    margin-top: .5em;
}

li{
    list-style: none;
    text-indent: 0%;
}

ul{
    padding: 0%;
}
/* Div container Parents  */
.serviceContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: #db76e8; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 1px;
}
.form {
    
    /* display: grid;
    display: inline-grid; */
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 20px;
    width: 80%;
    margin:auto;
}

.divCell {
    position: relative;
    text-align: left;
}

.formInput{
    width: 100%;
    margin-bottom: 1em; 
    font-size: 1em;
}
.multispanInput{
    grid-column: span 2;
}

.nameTitle{
    font-size: 1.5em;
    font-weight: bold;
    /* margin: 0%; */
}

.p-descriptions {
    clear: both;
    min-width: 85vw;
}

#index-p-used-apps{
    background-color: rgba(13, 7, 173, 0.581);
    color:azure;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 2%;
    margin-top: 15%;
}

#index-p-used-apps a:link{
    color: #f9d7fe;
    font-weight: bold;
    text-shadow: #500089 4px 4px 10px;
}

#index-p-used-apps a:visited{
    color: #ffc767;
    text-shadow: white 2px 4px ;
}

#contactUs-message-us {
    
    font-size: 1.25em;
}

#contactUs-have-any-questions {
    text-align:center;
    font-style: italic;
    font-weight: initial;
    color: #500089;
}

#submit-btn {
    margin-top: 1em;
    width: 100%;
    padding: .5em 0;
    font-size: 1em;
}

.specials-cards {
    padding: 2%;
    border-radius: 1em;
    background-color: rgba(119, 0, 255, 0.128);
    margin-bottom: 10%;
    padding-bottom: 5%;
}

.specials-cards > p:first-of-type {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.specials-cards:nth-child(even){
    background-color: rgba(0, 38, 255, 0.144);
}

.specials-images {
    width: 82vw;
    height: auto;
    display: inline;
    vertical-align: top;
    float: none;
}

.listItem{
    line-height: 60%;
    text-indent: 2em;
}
.servicesPage{
    background-color: rgba(119, 0, 255, 0.128);;
}
.serviceItem{
    padding: 2%;
    border-radius: 1em;
    background-color: white;
    margin: 1em;
    width: 20em;
}
.buttonHeader{
    background-color: #500089; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin-left: .25% ;
    width:32%;
    padding-top: 1.0%;
    padding-bottom: 1.0%;
}

.buttonHeader:first-child{
    padding-top: 2.0%;
}

.buttonHeader:last-child{
    padding-bottom: 4.0%;
}

.buttonHeader:hover{
    font-size: 1.5em;
}

header > a {
    padding: 2% 0%;
}

.serviceImg{
    max-width: 100%;
    max-height: 15em;
}
img{
    float:left;
    padding-right:1em;
}

#h1-arm {
    display:inline;
    color: whitesmoke;
    text-shadow: darkblue 4px 2px;
}

#call-button{
    font-size: 1.1em;
    font-weight: bold;
    background-color: rgb(119, 75, 252); 
    /* background-color: rgba(240, 146, 69, 0.934); */
    color: oldlace;
    text-shadow: rgb(23, 0, 33) 2px 2px 10px;
    /* animation: upwards-bounce 0.750s infinite; */
    animation: jump-shaking 1.0s infinite;
    border-bottom: solid black .2em;
}

#call-button-services{
    background-color: rgb(119, 75, 252);
    font-size: 1.0em;
    padding: .5em 1em;
    border-radius: 1em;
    color: azure;
    width: 20em;
    display: block;
    margin: 0 auto;
    box-shadow: darkslategray 3px 3px;
}

#index-menu-bar {
    display:flex; 
    justify-content:space-between;
    border-bottom: solid black .1em;
}

#index-main-img {
    display: block;
    margin: 5% auto;
    padding-left:5%;
    padding-right:5%; 
    padding-bottom: 5%;
    width: 80vw;
    max-width: 100%;
}

#index-container {
    padding-left: 7%;
    padding-right: 7%;
    background-color: rgb(246, 246, 246);
}

#index-titles-grid-container{
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    row-gap: 0px;
}

.call-img{
    max-width: 4em;
}
.index-titles-grid-items{
    display:grid;
    font-size: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
    height: 2.5em;
}

.index-titles-ptags::first-letter {
    font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: .2em;
    
}

#specials-container {
    padding-left: 7%;
    padding-right: 7%;
    background-color: rgb(246, 246, 246);
}

.copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid black 1px;
    margin-top: 15%;
    padding-top: 10%;
    padding-bottom: 5%;
    
}
.copyrights > small {
    text-align: center;
}

a{
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}
.about {
    display: block;
    text-align: center;
    padding: 0 5%;

}.about > .about_paragraph > p {
    border-radius: 1em;
    background-color: rgba(0, 38, 255, 0.144);
    margin-bottom: 5%;
}

.meet {
    display: block;
    padding: 0 5%;
    text-align: center;
}
h1 {
    text-align: center;
    
}

.meet > h2 {
    text-align: center;
    font-size: 2em;
}

.meet > p {
    text-align: center;
    margin-left: 5%;
    float: left;
}
.about_paragraph > p{
    padding:1em;
}
.staff {
    border-radius: 1em;
    background-color: rgba(119, 0, 255, 0.128);
    margin-bottom: 5%;
    padding:1em
}
.staff:nth-child(2n) {
    background-color: rgba(0, 38, 255, 0.144);
}
.serviceDescription{
    text-align: center;
}

.serviceItem > p{
    text-align: left;
    font-size: 1em;
}

.serviceItem > p:first-child{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}



.imgPeople{
    max-width: 450px;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.appliances {
    text-align: center;
    padding: 2%;
    border-radius: 1em;
    background-color: rgba(119, 0, 255, 0.128);
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 5%;
    max-width: 25em;
}

.appliances:nth-child(even) {
    background-color: rgba(0, 38, 255, 0.144);
}


.sale_images {
    max-width: 25em;
    display: block;
    /* vertical-align: top; */
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@keyframes upwards-bounce {
    0% { transform: translateY(0) }
    25% { transform: translateY(-5px) }
    50% { transform: translateY(-10px) }
    75% { transform: translateY(-6px) }
    100% { transform: translateY(-3px) }
}


@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(3deg) }
    55% { transform: translateY(-9px) rotate(-3deg) }
    65% { transform: translateY(-9px) rotate(3deg) }
    75% { transform: translateY(-9px) rotate(-3deg) }
    100% { transform: translateY(0) rotate(0) }
  }

@media (max-width: 768px) { /* Update the maximum width value as needed */
    .form {
        grid-template-columns: 1fr; /* Change to single column at maximum width */
    }
    .buttonHeader{
        width: 100%;
    }
}

@media (max-width: 1200px ) and (min-width: 768px) { /* Update the maximum width value as needed */
    .form {
        grid-template-columns: 1fr; /* Change to single column at maximum width */
    }
    .buttonHeader{
        width: 49%;
    }
}